header {
    height: 90px;
    padding: 15px 54px;
    background-color: #FFFFFF;
    color: #000000;
}

.header-light {
    color: #000000;
    background-color: #FFFFFF;
}

.header-dark {
    color: #FFFFFF;
    background-color: #000000;
}

.header-light a {
    color: #000000;
}

.header-dark a {
    color: #FFFFFF;
}

/* navbar */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1228px;
    margin: 0 auto;
}

nav a {
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    background-color: #000000;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 32px;
}

a.inscription {
    background-color: #000000;
    color: #FFFFFF;
}

.header-dark a.inscription {
    background-color: #FFFFFF
    color: #000000;
}
