
/* navbar */

header nav{
  position: absolute;
  max-width: 1228px;
  padding: 8px;
  height: 90px;
  top: 20px;
  left: 9%;
  right: 0;
  z-index: 3;
  background-color: #000000;
  mix-blend-mode: difference;
  
}

/* HEADER CLAIR */

.header-light .menu ul li a{
    color: #fff;
  }
  
.header-light .inscription{
    color: #000000;
    margin-left: 63%;
    padding: 15px 54px;
}
  
  /* HEADER SOMBRE */
  
.header-dark .menu ul li a{
    color: #fff;
}
  
.header-dark .inscription{
    color: black;
    margin-left: 63%;
    padding: 15px 54px;
    
}

.header-dark nav{
    mix-blend-mode: normal;
    background-color: transparent;
  }
  

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 32px;
  
  }

.logo{
  display: flex;
  align-items: center;
  gap: 8px;
}

.commerçant, .livreur, .vtc{
  width: 47px;
  height: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  
}

.inscription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    width: 106px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}
